<h1>Github Profile Viewer</h1>

<p>Please view a repository by going to:</p>
<p><code>localhost:3000/repositories/{username}</code></p>
<p>You must replace {username} with a valid username.  If the username you
  enter is not a valid github username, you will be redirected to this page.</p>
